.header {
    display: flex;
    align-items: center;
    width: 100vw;
    min-height: 15%;
    background: var(--primary-color)
}

.header-content-container .main-logo {
    width: 250px;
    height: auto;
}